<div class="w-25 mx-auto mt-5">
<h1 class="my-4">All Restaurants</h1>
  <% @restaurants.each do |e| %>
  <h3> <%= link_to "#{e.name}", restaurant_path(e), class:"text-decoration-none" %> </h3>
  <% end %>
  <h4><%= link_to "+ Add new Restaurant", new_restaurant_path %> </h4>
</div>
